<form action='/' method='post'>
<input type="text" name='content' placeholder='Entry'>
<%= @contenterr %>
<%= @title %>
<input type="text" name="amount" placeholder="0.00">
<input type="submit" value="Add">
</form>

<!-- Menu -->
<a href="/history">History</a>
<!-- Recent Transaction -->


