<!doctype html>
<html lang ="en">
<head>
  <meta charset ="utf-8">
  <title>Budget Tracker</title>
  <link href = "/reset.css" rel = "stylesheet">
  <link href = "/style.css" rel = "stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Budget Tracker</a></h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>Made by <a href="nndd91.wordpress.com">nndd91</a></small></p>
  </footer>
</body>
</html>
